@model IEnumerable<OnlineAdmission.Entity.SMSModel>

@{
    ViewData["Title"] = "Index";
    int sl = 0;
}

<h1>SMS List</h1>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    Phone
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Send Date
                </th>

               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        0@(item.MobileList)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.CreatedAt.ToString("dd MMM yyyy")
                    </td>

                </tr>
            }
        </tbody>
    </table>

}
else
	{
	         <div class="jumbotron">
                 <h5>SMS Not Send yet</h5>
             </div>
	}