@model dynamic

@{
    int cp = Model.PageIndex;
    int tp = Model.TotalPages;
    int pagesize = Model.PageSize;

    int i = (cp - 1) * pagesize + 1;

    int start = cp - 5;
    int end = cp + 5;

    string dprev = Model.HasPreviousPage ? "" : " disabled";
    string dnext = Model.HasNextPage ? "" : " disabled";
    DateTime newDateTime = new DateTime(2001, 01, 01);

    string searchtext = ViewBag.data == null ? "" : ViewBag.data;
    DateTime todate = ViewBag.todate == null ? DateTime.Today : ViewBag.todate;
    DateTime fromdate = ViewBag.fromdate == null ? newDateTime : ViewBag.fromdate;
    string pagecontroller = ViewBag.controller == null ? "home" : ViewBag.controller; ;
    string pageaction = ViewBag.action == null ? "index" : ViewBag.action;
    int studentCategoryId = 0;
    if (ViewBag.category != null)
    {
        studentCategoryId = ViewBag.category;
    }
    int subjectid = 0;
    if (ViewBag.subject != null)
    {
        subjectid = ViewBag.subject;
    }
    int paymentType = 0;
    if (ViewBag.paymentType!=null)
    {
        paymentType = ViewBag.paymentType;
    }
    int meritType = 0;
    if (ViewBag.meritType!=null)
    {
        meritType = ViewBag.meritType;
    }

    int[] pgsize = { 50, 100, 500, 1000, 5000 };


}


    <nav aria-label="...">
        <ul class="pagination">

            <li class="page-item">
                <a asp-action="@pageaction" asp-controller="@pagecontroller"
                   asp-route-usrtext="@ViewBag.data"
                   asp-route-page="1"
                   asp-route-pagesize="@pagesize"
                   class="page-link">First</a>
            </li>

            <li class="page-item @dprev">
                <a asp-action="@pageaction" asp-controller="@pagecontroller"
                   asp-route-usrtext="@ViewBag.data"
                   asp-route-page="@(cp-1)"
                   asp-route-pagesize="@pagesize"
                   class="page-link" style="@dprev">Prev.</a>
            </li>

            @for (int p = start; p <= end; p++)
            {
                @if (p >= 1 && p <= tp)
                {
                    @if (p == cp)
                    {
                        <li class="page-item active">

                            <a asp-action="@pageaction" asp-controller="@pagecontroller"
                               asp-route-usrtext="@ViewBag.data"
                               asp-route-page="@p"
                               asp-route-pagesize="@pagesize"
                               asp-route-paymentType="@paymentType"
                               asp-route-studentCategory="@studentCategoryId"
                               asp-route-categorySubject="@subjectid"
                               asp-route-meritType="@meritType"
                               class="page-link">@p</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-action="@pageaction" asp-controller="@pagecontroller"
                               asp-route-usrtext="@ViewBag.data"
                               asp-route-page="@p"
                               asp-route-pagesize="@pagesize"
                               asp-route-paymentType="@paymentType"
                               asp-route-studentCategory="@studentCategoryId"
                               asp-route-categorySubject="@subjectid"
                               asp-route-meritType="@meritType"
                               class="page-link">@p</a>
                        </li>
                    }
                }
            }

            <li class="page-item @dnext">
                <a asp-action="@pageaction" asp-controller="@pagecontroller"
                   asp-route-usrtext="@ViewBag.data"
                   asp-route-page="@(cp+1)"
                   asp-route-pagesize="@pagesize"
                   asp-route-paymentType="@paymentType"
                   asp-route-studentCategory="@studentCategoryId"
                   asp-route-categorySubject="@subjectid"
                   asp-route-meritType="@meritType"
                   class="page-link @dnext">Next</a>
            </li>
            <li class="page-item">
                <a asp-action="@pageaction" asp-controller="@pagecontroller"
                   asp-route-usrtext="@ViewBag.data"
                   asp-route-page="@tp"
                   asp-route-pagesize="@pagesize"
                   asp-route-paymentType="@paymentType"
                   asp-route-studentCategory="@studentCategoryId"
                   asp-route-categorySubject="@subjectid"
                   asp-route-meritType="@meritType"
                   class="page-link">Last</a>
            </li>
            <li class="float-right">
                <form id="frm" class="form-inline" asp-action="@pageaction" method="post">


                    <input type="hidden" name="meritType" value="@meritType" />
                    <input type="hidden" name="studentCategory" value="@studentCategoryId" />
                    <input type="hidden" name="categorySubject" value="@subjectid" />
                    <input type="hidden" name="usrtext" value="@ViewBag.data" />
                    <input type="hidden" name="paymentType" value="@ViewBag.paymentType" />
                    <input type="datetime" name="fromdate" value="@ViewBag.fromdate" style="display:none" />
                    <input type="datetime" name="todate" value="@ViewBag.todate" style="display:none" />
                    <select id="pagesize" name="pagesize" class="form-control">
                        @foreach (var item in pgsize)
                        {
                            if (item == ViewBag.pagesize)
                            {
                                <option value="@item" selected>@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                        <option value="5001">All</option>
                    </select>
                    <button class="page-link"> Entries </button>
                </form>
            </li>

        </ul>
    </nav>
