@{ 
    string actionName = "Index";
    DateTime fromdate = new DateTime(); /*= DateTime.Today.Date;*//*AddDays(-10);*/// new DateTime(2001-1-1).Date;
    DateTime todate = new DateTime(); /*= DateTime.Today.Date;*/
    if (ViewBag.fromdate!=null)
    {
        fromdate = ViewBag.fromdate;
    }
    if (ViewBag.todate != null)
    {
        todate = ViewBag.todate;
    }
    int paymentTypeId = ViewBag.paymentType > 0? ViewBag.paymentType:0;
    int studentCategoryId = ViewBag.studentCategoryId > 0 ? ViewBag.studentCategoryId : 0;
}
@if (ViewBag.action != null)
{
    actionName = ViewBag.action;
}
<div class="">

    <form asp-action="@actionName" class="form-inline" method="post">
        <input type="hidden" name="studentCategoryId" value="@studentCategoryId" />
        <input type="hidden" name="paymentTypeId" value="@paymentTypeId" />
        <div class="col-md-6">
            <div class="form-inline">
                <div class="form-group">
                    <label class="col-md-2">From</label>
                    <input type="date" name="fromdate" class="form-control-sm" value="@fromdate">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label class="col-md-2">To</label>
                    <input type="date" class="form-control-sm" name="todate" value="@todate">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="float-md-right">
                @*<h4 class="text-primary"> @ViewBag.count</h4>*@
                @if (ViewBag.count != null)
                {
                    <span>Total found @ViewBag.count</span>
                }

                <input type="text" name="usrtext" value="@ViewBag.data" class="form-control" placeholder="Search...." />

                <button class="btn-info form-control" type="submit">Search</button>
            </div>
                    </div>
    </form>


</div>
