@{ 
    string actionName = "Index";
    DateTime fromdate = new DateTime(); /*= DateTime.Today.Date;*//*AddDays(-10);*/// new DateTime(2001-1-1).Date;
    DateTime todate = new DateTime(); /*= DateTime.Today.Date;*/
    if (ViewBag.fromdate!=null)
    {
        fromdate = ViewBag.fromdate;
    }
    if (ViewBag.todate != null)
    {
        todate = ViewBag.todate;
    }
    int studentCategoryId = ViewBag.studentCategoryId > 0 ? ViewBag.studentCategoryId : 0;
}
@if (ViewBag.action != null)
{
    actionName = ViewBag.action;
}
<div class="">

    <form asp-action="@actionName" class="form-inline" method="post">
        <input type="hidden" name="studentCategoryId" value="@studentCategoryId" />
        <div class="col-md-5">
            <div class="form-inline">
                <div class="form-group">
                    <label for="fromdate" class="col-md-2">From</label>
                    <input type="date" name="fromdate" id="fromdate" class="form-control form-control-sm" value="@fromdate">
                </div>
                <div class="form-group">
                    <label for="todate" class="col-md-2">To</label>
                    <input type="date" class="form-control form-control-sm" name="todate" id="todate" value="@todate">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline">
                    <label for="paymentTypeId" class="col-md-5 text-md-right col-form-label">Payment Type</label>
                    <select class="form-control form-control-sm" name="paymentTypeId" asp-items="@ViewBag.paymentTypes" >
                        <option selected disabled>-Select Type-</option>
                    </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="float-md-right">
                @if (ViewBag.count != null)
                {
                    <span>Total found @ViewBag.count</span>
                }

                <input type="text" name="usrtext" value="@ViewBag.data" class="form-control form-control-sm" placeholder="Search...." />

                <button class="btn-info form-control form-control-sm" type="submit">Search</button>
            </div>
                    </div>
    </form>


</div>
