@model IEnumerable<OnlineAdmission.APP.ViewModels.SpecialOffer.SpecialOfferVM>

@{
    ViewBag.Title = "Requseted Student List";
    int sl = 0;
}

<h4>Special Deduction Student List</h4>
@if (Model.Any())
{

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>NU Roll</th>
                <th>Subject</th>
                <th>Phone</th>
                <th>Deduction Amount</th>
                <th>Status</th>
                <th>
                    <a asp-action="Create" asp-controller="SpecialOffer" class="btn btn-info">New Add</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td>@student.AppliedStudent.ApplicantName</td>
                    <td>@student.MeritStudent.NUAdmissionRoll</td>
                    <td>@student.Subject.SubjectName</td>
                    <td>@student.AppliedStudent.MobileNo</td>
                    <td>@student.MeritStudent.DeductedAmaount</td>
                    @if (student.MeritStudent.PaymentStatus == true)
                    {
                        <td>Payment Completed</td>
                        <td>done | Details</td>
                    }
                    else
                    {
                        <td>Not paid yet</td>
                        <td>
                            <a asp-action="Edit" asp-route-nuRoll="@student.MeritStudent.NUAdmissionRoll" class="btn  btn-sm btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-nuRoll="@student.MeritStudent.NUAdmissionRoll" class="btn  btn-sm btn-danger">Delete</a>
                        </td>
                    }

                </tr>
            }

        </tbody>
    </table>
}
else
{
	      <div class="jumbotron">
              <div class="col-md-10 text-center">
                  <h4>Doesn't Found any student</h4>
                  <a asp-action="Create" asp-controller="SpecialOffer" class="btn btn-info" >Add New</a>
              </div>
          </div>
	}