@model OnlineAdmission.APP.ViewModels.Student.StudentDetailsVM

@{
    Layout = User.IsInRole("Admin")
        ? "~/Views/Shared/_Layout.cshtml"
        : "~/Views/Shared/_LayoutStudent.cshtml";
    string meritPosition = "";
    @if (Model.MeritStudent!=null)
    {
        meritPosition = "(Merit Position: " + Model.MeritStudent.MeritPosition + ")";
    }
    string studentClass = "";
    if (Model.Student.StudentCategory==2)
    {
        studentClass = "1st Year Bachelor of Honours(Professional) 2020-2021";
    }
    else if (Model.Student.StudentCategory == 3)
    {
        studentClass = "MBA (Professional) 2020-2021";
    }
    else if (Model.Student.StudentCategory == 4)
    {
        studentClass = "Masters Admission 2020-2021";
    }
    else
    {
        studentClass = "1st Year Bachelor of Honours 2020-2021";
    }

}

@section Styles{
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .formInputText input {
            border-bottom: 1px dashed black;
        }

        label{
            font-weight:400;
            color:#000000;
        }

        @@media print {
            .noPrintButton {
                display: none;
            }

            label {
                font-weight: 500;
                color: #000000;
            }
        }
    </style>
}
@section Scripts{
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
}
<div>
    <button class="btn btn-warning" onclick="printDiv('printableArea')"><i class="fa fa-print" aria-hidden="true" style="font-size: 17px;"> Print</i></button>
</div>
<div id="printableArea">
    <div class="">
        <div class="row bg-white p-3">
            <div class="col-md-10">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-4 text-md-right">
                            <img src="~/Images/Collge/logo2.png" alt="Alternate Text" class="img-fluid" style="width:85px;" />
                        </div>
                        <div class="col-md-8 text-md-left">
                            <h3> Tejgaon College, Dhaka</h3>
                            <h5>College Code: 6422</h5>
                        </div>
                    </div>
                    
                    <h5>@studentClass</h5><br />
                    <h3>Student Personal Information Form</h3><hr />
                </div>
            </div>
            <div class="col-md-2 align-text-bottom">

                <div id="imageBox">
                    <img id="blah" src="~/Images/Students/@Model.Student.Photo" alt="your image" style="width:140px;" />
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-3 mb-2 bg-white rounded  text-dark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Student.SubjectId" class="col-form-label col-md-2 text-right">Subject : </label>
                <div class="col-md-5">
                    <span class="form-control-plaintext font-weight-bold">@Model.Student.Subject.SubjectName @meritPosition</span>
                    @*<input asp-for="Student.Subject.SubjectName" disabled readonly class="form-control-plaintext font-weight-bold" />*@
                    @if (Model.Student.StudentType == 2)
                    {
                        if (Model.PreviousSubject!=null)
                        {
                           <span>(@Model.PreviousSubject.SubjectName)</span>
                        }
                        
                    }
                    

                </div>
                


                <label asp-for="Student.CollegeRoll" class="col-form-label col-md-2 text-right">College Roll : </label>
                <div class="col-md-2">
                    <input asp-for="Student.CollegeRoll" disabled readonly class="form-control-plaintext font-weight-bold" />
                    @if (Model.Student.StudentType==2)
                    {
                        <span>(@Model.Student.PreviousCollegeRoll)</span>
                    }
                </div>
            </div>

            @*<div class="row bg-success p-1 d-block">
                    <h5 class="text-center text-white">Student's Detail Info</h5>
                </div>*@

            <div class="form-group row pt-2">
                <label asp-for="Student.Name" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-5">
                    <input asp-for="Student.Name" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>

                <label asp-for="Student.NUAdmissionRoll" class="col-form-label col-md-2 text-right">NU Roll</label>
                <div class="col-md-3">
                    <input asp-for="Student.NUAdmissionRoll" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Student.FatherName" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-5">
                    <input asp-for="Student.FatherName" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
                <label asp-for="Student.FatherOccupation" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-3">
                    <input asp-for="Student.FatherOccupation" class="form-control-plaintext font-weight-bold" readonly disabled />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Student.MotherName" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-5">
                    <input asp-for="Student.MotherName" class="form-control-plaintext font-weight-bold" readonly disabled />
                </div>
                <label asp-for="Student.MotherOccupation" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-3">
                    <input asp-for="Student.MotherOccupation" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Student.GuardianName" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-5">
                    <input asp-for="Student.GuardianName" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
                <label asp-for="Student.GuardianOccupation" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-3">
                    <input asp-for="Student.GuardianOccupation" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Student.Nationality" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-5">
                    <input asp-for="Student.Nationality" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
                <label asp-for="Student.BloodGroup" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-3">
                    <input asp-for="Student.BloodGroup" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Student.Birthday" class="text-right col-form-label col-md-2"></label>
                <div class="col-md-5">
                    <input asp-for="Student.Birthday" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>

                <label asp-for="Student.Gender" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-3">
                    <input asp-for="Student.Gender" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>


            </div>
            <div class="form-group row">
                <label asp-for="Student.Email" class="col-form-label text-right col-md-2"></label>
                <div class="col-md-5">
                    <input asp-for="Student.Email" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>

                <label asp-for="Student.Religion" class="col-form-label text-right col-md-2"></label>
                <div class="col-md-3">
                    <input asp-for="Student.Religion" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
            </div>
            @*<div class="row bg-success p-1 d-block">
                    <h5 class="text-center text-white">Student's Address Info</h5>
                </div>*@
            <div class="form-group row pt-1">
                <label asp-for="Student.PresentAddress1" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <span class="form-control-plaintext font-weight-bold">@Model.Student.PresentAddress1 @Model.Student.PresentAddress2</span>
                    <span class="form-control-plaintext font-weight-bold">District- @Model.Student.PresentDistrict.DistrictName</span>                    
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Student.PermanentAddress1" class="col-form-label col-md-2 text-right"></label>
                <div class="col-md-10">
                    <span class="form-control-plaintext font-weight-bold">@Model.Student.PermanentAddress1 @Model.Student.PermanentAddress2</span>
                    <span class="form-control-plaintext font-weight-bold">District- @Model.Student.PermanentDistrict.DistrictName</span>
                </div>
            </div>


            <div class="row p-1 d-block">
                    <h5 class="text-center text-dark font-weight-bolder">Mailing Address Information</h5><hr />
                </div>
            <div class="form-group row pt-1">
                <label asp-for="Student.MailingVillage" class="col-form-label col-md-2 text-right">Vill/Area</label>
                <div class="col-md-10">
                    <span class="form-control-plaintext font-weight-bold">@Model.Student.MailingVillage</span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Student.MailingPO" class="col-form-label col-md-2 text-right">Post Office</label>
                <div class="col-md-10">
                    <span class="form-control-plaintext font-weight-bold">@Model.Student.MailingPO (@Model.Student.MailingPostCode), P.S - @Model.Student.MailingPS, District - @Model.Student.MailingDistrict.DistrictName</span>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label asp-for="Student.FatherMobile" class="col-form-label text-right col-md-2"></label>
                <div class="col-md-4">
                    @{
                        string fMob = "0" + Model.Student.FatherMobile;
                    }
                    <input asp-for="Student.FatherMobile" value="@fMob" class="form-control-plaintext font-weight-bold"  disabled readonly/>
                </div>
                <label asp-for="Student.MotherMobile" class="col-form-label text-right col-md-2"></label>
                <div class="col-md-4">
                    @{
                        string mMob = "0" + Model.Student.MotherMobile.ToString();
                    }
                    <input asp-for="Student.MotherMobile" class="form-control-plaintext font-weight-bold" value="@mMob"  disabled readonly/>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Student.StudentMobile" class="col-form-label text-right col-md-2"></label>
                <div class="col-md-4">
                    @{
                        string sMob = "0" + Model.Student.StudentMobile;
                    }
                    <input asp-for="Student.StudentMobile" value="@sMob" class="form-control-plaintext font-weight-bold" disabled readonly />
                </div>
                <label asp-for="Student.GuardianMobile" class="col-form-label text-right col-md-2"></label>
                <div class="col-md-4">
                    @{
                        string gMob = "0" + Model.Student.GuardianMobile.ToString();
                    }
                    <input asp-for="Student.GuardianMobile" class="form-control-plaintext font-weight-bold" value="@gMob"  disabled readonly/>
                </div>
            </div>

            <div class="form-group row">
                @if (Model.Student.StudentNID != null)
                {
                    <label asp-for="Student.StudentNID" class="col-form-label text-right col-md-2"></label>
                    <div class="col-md-4">
                        <span class="form-control-plaintext font-weight-bold">@Model.Student.StudentNID</span>
                    </div>
                }
                @if (Model.Student.FatherNID != null)
                {
                    <label asp-for="Student.FatherNID" class="col-form-label text-right col-md-2"></label>
                    <div class="col-md-4">
                        <span class="form-control-plaintext font-weight-bold">@Model.Student.FatherNID</span>
                    </div>
                }
            </div>
            <div class="form-group row">
                @if (Model.Student.MotherNID != null)
                {
                    <label asp-for="Student.MotherNID" class="col-form-label text-right col-md-2"></label>
                    <div class="col-md-4">
                        <span class="form-control-plaintext font-weight-bold">@Model.Student.MotherNID</span>
                    </div>
                }
            </div>

            <div class="row p-1 d-block ">
                    <h5 class="text-center text-dark font-weight-bolder">Student's Academic Information</h5>
                </div>
            <div class="pt-1">
                <table class="table table-bordered text-center table-striped">
                    <thead class="bg-white text-dark font-weight-bolder">
                        <tr>
                            <td>Class</td>
                            <td>Board Roll No.</td>
                            <td>GPA</td>
                            <td>Year of Passing</td>
                            <td>Board</td>
                            <td>Remark</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-bold">
                            <td>HSC</td>
                            <td>
                                @Model.Student.HSCRoll
                            </td>
                            <td>
                                @Model.Student.HSCGPA
                            </td>
                            <td>
                                @Model.Student.HSCPassingYear
                            </td>
                            <td>
                                @Model.Student.HSCBoard
                            </td>
                            <td>
                                @Model.Student.HSCRemark
                            </td>
                        </tr>
                        <tr class="font-weight-bold">
                            <td>SSC</td>
                            <td>
                                @Model.Student.SSCRoll
                            </td>
                            <td>
                                @Model.Student.SSCGPA
                            </td>
                            <td>
                                @Model.Student.SSCPassingYear
                            </td>
                            <td>
                                @Model.Student.SSCBoard
                            </td>
                            <td>
                                @Model.Student.SSCRemark
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row pt-1 mb-5">
    <div class="text-center offset-5 col-md-2">
        <a class="btn btn-block btn-info" asp-action="Search" asp-controller="Students">Back to Search</a>
    </div>
</div>


