@*@model IEnumerable<OnlineAdmission.Entity.Student>*@
@model OnlineAdmission.APP.ViewModels.Student.StudentIndexVM

@{
    ViewData["Title"] = "Index";
    int sl = 0;
    string bgColor = "";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Index" asp-controller="Students">
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Class of Student</label>
                <div class="col-md-8">
                    <select class="form-control" asp-for="StudentCategory" asp-items="@ViewBag.StudentCategoryList" name="studentCategory" id="studentCategory" data-categoryId="@ViewBag.category">
                        <option value="0">All Student</option>
                    </select>
                </div>
                <button class="col-md-1 btn-block btn-info">Show</button>
            </div>
        </form>
    </div>
</div>

<table class="table" id="table_id">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Name
            </th>
            <th data-orderable="false">
                @*@Html.DisplayNameFor(model => model.Photo)*@
                Photo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CollegeRoll)*@
                College Roll
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NUAdmissionRoll)*@
                NU Roll
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StudentMobile)*@
                Mobile
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subject)*@
                Subject
            </th>
            <th data-orderable="false">
                <a class="btn btn-info" asp-action="Create"><i class="fas fa-user-plus"></i> Add Student</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
          foreach (var item in Model.Students)
                {
                    if (item.StudentType == 1)
                    {
                        bgColor = "bg-info text-light";
                    }
                    else
                    {
                        bgColor = "bg-light";
                    }
                    <tr class=@bgColor>
                        <td>
                            @(++sl).
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src="~/Images/Students/@item.Photo" alt="Student Image" style="width:100px;" />
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CollegeRoll)
                            @if (item.StudentType == 1)
                            {
                                <span>(@item.PreviousCollegeRoll)</span>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NUAdmissionRoll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentMobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-sm btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn  btn-sm btn-warning">Details</a>
                        </td>
                    </tr>
                }
        }
    </tbody>
</table>
<br /><br />

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            //let cat = $('#studentCategory').val();
            //alert(cat);

            $('#table_id').DataTable({
                "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
            });
        });
    </script>
}