@model PaginatedList<OnlineAdmission.Entity.Student>

@{
    ViewData["Title"] = "Student List";
    string bgColor = "";
    int i = (Model.PageIndex - 1) * Model.PageSize + 1;
    ViewBag.pagesize = Model.PageSize;
    int totalFound = 0;
    @if (ViewBag.Count!=null)
    {
        totalFound = ViewBag.Count;
    }
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" asp-controller="Students">
            <div class="form-group row">
                <label for="studentCategoryId" class="col-form-label text-md-right px-3">Class of Student</label>
                <div class="pr-3">
                    <select class="form-control-sm" asp-items="@ViewBag.StudentCategoryList" name="studentCategory" id="studentCategoryId" data-categoryId="@ViewBag.category">
                        <option selected disabled>Select Student</option>
                        <option value="0">All Student</option>
                    </select>
                </div>
                <label class="px-3 col-form-label text-md-right" for="studentSubjectId">Subject</label>
                <div class="pr-3">
                    <select class="form-control-sm" asp-items="@ViewBag.SubjectList" name="categorySubject" id="studentSubjectId" data-subjectId="@ViewBag.category">
                        <option selected disabled> Select Subject </option>
                    </select>
                </div>
                <label class="px-3 col-form-label text-md-right">Merit Type</label>
                <div class="pr-3">
                    <select class="form-control-sm" asp-items="@ViewBag.MeritTypeList" name="meritType" id="meritId" data-meritType="@ViewBag.meritType">
                        <option selected disabled>Select Merit</option>
                        <option value="1st Merit List">1st Merit List</option>
                        <option value="2nd Merit List">2nd Merit List</option>
                        <option value="Quota Merit List">Quota Merit List</option>
                        <option value="Release Slip">Release Slip</option>
                    </select>
                </div>
                <button class="form-control-sm btn btn-sm btn-info">Show</button>
                @if (ViewBag.Count!=null)
                {
                    <span class="pl-md-2">Total <span class="text-danger">@totalFound</span> found</span>
                }
            </div>
        </form>
    </div>
</div>
<partial name="~/Views/PartialViews/_SearchCreateBtn.cshtml">
    <table class="table" id="tblStudents">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Name
                </th>
                <th data-orderable="false">
                    Photo
                </th>
                <th>
                    College Roll
                </th>
                <th>
                    NU Roll
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Subject
                </th>
                <th data-orderable="false">
                    <a class="btn btn-info" asp-action="Create"><i class="fas fa-user-plus"></i> Add Student</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.StudentType == 2)
                    {
                        bgColor = "bg-info text-light";
                    }
                    else
                    {
                        bgColor = "bg-light";
                    }
                    <tr class=@bgColor>
                        <td>
                            @(i++).
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src="~/Images/Students/@item.Photo" alt="Student Image" style="width:100px;" />
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CollegeRoll)
                            @if (item.StudentType == 2)
                            {
                                <span>(@item.PreviousCollegeRoll)</span>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NUAdmissionRoll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentMobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-sm btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn  btn-sm btn-warning">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <partial name="~/Views/PartialViews/_paging2.cshtml" model="@Model" />
    <br />
    <br />

    @section Scripts{

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script type="text/javascript">
            $("body").on("click", "#btnPDF", function () {
                html2canvas($('#tblStudents')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Admitted Student.pdf");
                    }
                });
            });
        </script>



        <script>
            $(document).ready(function () {
                $('#studentCategoryId').change(function () {
                    let catId = $('option:selected', this).val();                    
                    $.ajax({
                        "url": "/Subjects/GetSubjectByStudentCategory",
                        "data": { catId : catId },
                        "dataType": 'JSON',
                        "method": 'POST',
                        "cache": false,
                        "success": function (data) {
                            console.log(data);
                            $('#studentSubjectId').empty();
                            let o = '<option selected desabled>Select Subject</option>'
                            $('#studentSubjectId').append(o);
                            $.each(data, function (i, obj) {
                                let op = '<option value=' + obj.id + '>' + obj.subjectName + '</option>';
                                $('#studentSubjectId').append(op);
                            });
                        },
                        "error": function (err) {
                            console.log(err);
                        }
                    });
                });


                $('#render-data').DataTable({

                });
            });
        </script>
    @*Code for Table to CSV*@

    <script src="~/js/tableToCSV.js"></script>
        


    }
