@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewBag.Title = "Professional Admission (MBA)";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="">
    <div class="row card text-center border-0 p-5" style="background-color: #DEE2EB">
        <div class="card-body">
            <form asp-action="MastersSearch" asp-controller="Students" method="post">
                <label class="col-md-8 text-success font-weight-bolder  text-md-center text-center col-form-label" style="font-size:x-large">Professional Admission (MBA)</label><br /><br />
                <div class="form-group row">
                    <label class="col-md-2 text-md-right text-left col-form-label">NU Roll</label>
                    <div class="col-md-6">
                        @if (ViewBag.nuRoll != null)
                        {
                            <input type="number" name="mastersRoll" value="@ViewBag.nuRoll" class="form-control" min="1000000" max="9999999" required placeholder="NU Admission Roll" />
                        }
                        else
                        {
                            <input type="number" name="mastersRoll" class="form-control" min="1000000" max="9999999" required placeholder="NU Admission Roll" />
                        }
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </form>

            @if (ViewBag.msg != null)
            {
                <div class="form-group row" id="missText">
                    <div class="col-md-12 text-md-center">
                        <span class="alert alert-danger">@ViewBag.msg</span>
                    </div>
                </div>
            }
        </div>
        @if (ViewBag.admitted == true)
        {
        <div class="col-md-6 offset-3">
            <a asp-action="Details" asp-controller="Students" asp-route-id="@ViewBag.student.Id" class="btn btn-info">View admission form</a>
        </div>
        }

        @if (ViewBag.infoCollection == true)
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <a asp-action="Create" asp-controller="AppliedStudents" asp-route-studentCat="3" asp-route-nuRoll="@ViewBag.nuRoll" class="btn btn-outline-info">Give Information</a>
                </div>
            </div>
        }
        else
        {
            @if (ViewBag.addmissionIsPaid == true)
            {

                if (ViewBag.admitted == false)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Payment Completed</h5>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-outline-info" asp-action="Create" asp-controller="Students" asp-route-studentCategory="3" asp-route-nuAdmissionRoll="@ViewBag.AppliedStudent.NUAdmissionRoll">Admission Form</a>
                        </div>
                    </div>
                }
            }

            @if (ViewBag.addmissionIsPaid == false)
            {
                <div class="row" id="duePayment">
                    <div class="col-md-12">
                        <button class="text-center btn btn-info" id="paymentId">Make Payment</button>
                    </div>
                </div>

                <div class="col-md-4 offset-4 pt-3" id="paymentArea" style="display:none;">
                    <div class="card-deck">
                        <div class="card bg-transparent border-0">
                            <form asp-action="NagadPaymentMasters" asp-controller="Students" method="get">
                                <input name="nuRoll" value="@ViewBag.nuRoll" type="hidden" />
                                <input name="studentCategory" value="3" type="hidden" />
                                <input name="paymentType" value="2" type="hidden" /> @*1 = Application, 2 = Admission*@
                                <button type="submit">
                                    <img class="card-img-top" src="~/Images/Payment/Nagad.png" alt="Nagad Logo" style="width:80px;">
                                </button>
                            </form>
                        </div>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <div class="card border-0">
                                <form asp-action="CollegePayment" asp-controller="Students" method="get">
                                    <input name="nuRoll" value="@ViewBag.nuRoll" type="hidden" />
                                    <button type="submit">
                                        <img class="card-img-top" src="~/Images/Collge/logo.png" alt="College Logo" style="width:60px;">
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        }


        @if (ViewBag.notification != null)
        {
            <div class="text-md-center">
                <span class="h2 alert text-success">@ViewBag.notification</span>
            </div>
        }

        //============This Code only for Application purpose==============
        @*@if (ViewBag.isPaid != null)
        {
            if (ViewBag.isPaid == true)
            {
                <span>Your payment is already completed.</span>
            }
            else
            {
                <div class="row">
                    <div class="col-md-10 offset-1 text-center">
                        <span class="alert font-weight-bold text-info">Apply for Professional Admission (MBA)</span><hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form asp-action="NagadPaymentMasters" asp-controller="Students" method="get">
                            <input type="hidden" name="studentCategory" value="3" />
                            <input type="hidden" name="paymentType" value="1" />
                            <input type="hidden" name="nuRoll" value="@ViewBag.nuRoll" />
                            <div class="form-group row">
                                <label class="col-md-2 text-md-right text-left col-form-label">Name : </label>
                                <div class="col-md-4">
                                    <input required type="text" name="studentName" class="form-control" />
                                </div>

                                <label class="col-md-2 text-md-right text-left col-form-label">Mobile : </label>
                                <div class="col-md-4">
                                    <input required type="number" name="mobileNum" class="form-control" min="01300000000" max="01999999999" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Make Payment</button>
                        </form>
                    </div>
                </div>
            }
        }*@


    </div>


</div>
@section Scripts{
    <script>
    $(document).ready(function () {
        $("#missText").fadeOut(10000);

        $('#paymentId').click(function () {
            let isHidden = $('#paymentArea').is(':hidden');
            if (isHidden == true) {
                $('#paymentArea').show();
            }
            else {
                $('#paymentArea').hide();
            }
        });
    });
    </script>
}