@model OnlineAdmission.APP.ViewModels.Student.SelectedStudentVM

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    //Layout = User.IsInRole("Admin") ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutStudent.cshtml";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="">
    <div class="row card text-center border-0 p-5" style="background-color: #DEE2EB">
        <div class="card-body">
            <form asp-action="Search" asp-controller="Students" method="post">
                <label class="col-md-8 text-success font-weight-bolder  text-md-center text-center col-form-label" style="font-size:x-large">Honours Admission (2nd Release Slip) </label><br /><br />
                <div class="form-group row">
                    <label class="col-md-2 text-md-right text-left col-form-label">NU Roll</label>
                    <div class="col-md-6">
                        @if (ViewBag.nuRoll != null)
                        {
                            <input type="number" name="NuAdmissionRoll" value="@ViewBag.nuRoll" min="1000000" max="9999999" class="form-control" placeholder="NU Admission Roll" />
                        }
                        else
                        {
                            <input type="number" name="NuAdmissionRoll" class="form-control" placeholder="NU Admission Roll" min="1000000" max="9999999" />
                        }

                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
                @if (ViewBag.msg != null)
                {
                    <div class="row">
                        <span id="msgId" class="text-danger offset-2">@ViewBag.msg</span>
                    </div>
                    @if (ViewBag.infoCollection == true)
                    {
                        <div class="row">
                            <div class="col-md-12 text-center">

                                <a asp-action="Create" asp-controller="AppliedStudents" asp-route-studentCat="1" asp-route-nuRoll="@ViewBag.nuRoll" class="btn btn-outline-info">Give Information</a>
                            </div>
                        </div>
                    }
                }
                @if (ViewBag.notify != null)
                {
                    <div class="row">
                        <span id="notifyId" class="text-danger offset-2">@ViewBag.notify</span>
                    </div>
                }

            </form>
        </div>


        @if (Model != null)
        {
            <div class="card text-center border-0">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-light bg-primary text-white">
                            <tr>
                                <td>NU Roll</td>
                                <td>Name</td>
                                <td>Subject</td>
                                <td>Merit List</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.MeritStudent.NUAdmissionRoll</td>
                                <td>@Model.AppliedStudent.ApplicantName</td>
                                <td>@Model.Subject.SubjectName <br />(@Model.MeritStudent.SubjectCode)</td>
                                <td>@Model.MeritStudent.Comments</td>
                            </tr>
                        </tbody>
                    </table>
                    @if (Model.MeritStudent.PaymentStatus == true)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Payment Completed</h5>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-outline-info" asp-action="Create" asp-controller="Students" asp-route-nuAdmissionRoll="@Model.AppliedStudent.NUAdmissionRoll">Admission Form</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <button class="text-center btn btn-info" id="paymentId">Make Payment</button>
                        </div>

                        <div class="note bg-danger mt-1 mb-1 p-1">
                            <span class="text-justify text-light">
                                [শিক্ষার্থীকে জাতীয় বিশ্ববিদ্যালয়ের ভর্তি বিষয়ক ওয়েবসাইটের (www.nu.ac.bd/admissions) Applicant Login অপশনে Honours Login লিংকে গিয়ে সঠিক রোল নম্বর ও পিন এন্ট্রি দিয়ে 21-12-2021 তারিখের মধ্যে চূড়ান্ত ভর্তি ফরম পূরণ করতে হবে।
                                <span style="color:#9dfb14">(সর্তকতাঃ জাঃ বিঃ-র ওয়েবসাইট থেকে চূড়ান্ত ভর্তি ফরম পূরণ করে প্রিন্ট কপি সংগ্রহ না করলে ভর্তি নিশ্চিত হবে না। )]</span>
                            </span>
                        </div>

                        <div class="col-md-4 offset-4 pt-3" id="bankingId" style="display:none;">
                            <div class="card-deck">
                                <div class="card border-0">
                                    <form asp-action="NagadPayment" asp-controller="Students" method="get">
                                        <input name="nuRoll" value="@Model.MeritStudent.NUAdmissionRoll" type="hidden" />
                                        <input name="studentCategory" value="1" type="hidden" />
                                        <input name="paymentType" value="2" type="hidden" /> @*1 = Application, 2 = Admission*@
                                        
                                        <button type="submit">
                                            <img class="card-img-top" src="~/Images/Payment/Nagad.png" alt="Nagad Logo" style="width:80px;">
                                        </button>
                                    </form>
                                </div>
                                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                {
                                    <div class="card border-0">
                                        <form asp-action="CollegePayment" asp-controller="Students" method="get">
                                            <input name="nuRoll" value="@Model.MeritStudent.NUAdmissionRoll" type="hidden" />
                                            <button type="submit">
                                                <img class="card-img-top" src="~/Images/Collge/logo.png" alt="College Logo" style="width:60px;">
                                            </button>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @if (ViewBag.admittedStudent != null)
        {
            @if (ViewBag.DueAmount == true)
            {
                <div class="row" id="duePayment">
                    <div class="col-md-12">
                        <button class="text-center btn btn-info" id="duePayment">Make Payment</button>
                    </div>
                </div>

                <div class="col-md-4 offset-4 pt-3" id="duePaymentId" style="display:none;">
                    <div class="card-deck">
                        <div class="card bg-transparent border-0">
                            <form asp-action="NagadPayment" asp-controller="Students" method="get">
                                <input name="nuRoll" value="@ViewBag.nuRoll" type="hidden" />
                                <input name="studentCategory" value="1" type="hidden" />
                                <input name="paymentType" value="2" type="hidden" /> @*1 = Application, 2 = Admission*@
                                <input type="hidden" name="subjectChange" value="1" />
                                <button type="submit">
                                    <img class="card-img-top" src="~/Images/Payment/Nagad.png" alt="Nagad Logo" style="width:80px;">
                                </button>
                            </form>
                        </div>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <div class="card border-0">
                                <form asp-action="CollegePayment" asp-controller="Students" method="get">
                                    <input name="nuRoll" value="@ViewBag.nuRoll" type="hidden" />
                                    <button type="submit">
                                        <img class="card-img-top" src="~/Images/Collge/logo.png" alt="College Logo" style="width:60px;">
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {

                <div class="row">
                    <div class="card text-center col-md-12">
                        <div class="card-header">
                            <h5>Your admission has been completed successfully</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    @if (ViewBag.admittedStudent.Photo != null)
                                    {
                                        <img src="~/Images/Students/@ViewBag.admittedStudent.Photo" style="width:150px;" />
                                    }
                                </div>
                                <div class="col-md-8">
                                    <table class="text-left table table-hover border-0 table-striped">
                                        <tr>
                                            <td class="" style="width:200px">Applicant Name</td>
                                            <td>:</td>
                                            <td class="">@ViewBag.admittedStudent.Name</td>
                                        </tr>
                                        <tr>
                                            <td class="" style="width:200px">Academic Session</td>
                                            <td>:</td>
                                            <td class="">2020-2021</td>
                                        </tr>
                                        <tr>
                                            <td class="" style="width:200px">Department</td>
                                            <td>:</td>
                                            <td class="">@ViewBag.admittedStudent.Subject.SubjectName</td>
                                        </tr>
                                        <tr>
                                            <td class="" style="width:200px">Class Roll</td>
                                            <td>:</td>
                                            <td class="">@ViewBag.admittedStudent.CollegeRoll</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-6 offset-3">
                                <a asp-action="Details" asp-controller="Students" asp-route-id="@ViewBag.admittedStudent.Id" class="btn btn-info">View admission form</a>
                            </div>
                        </div>
                    </div>



                </div>
            }

        }

    </div>
</div>
@*<div class="">
    <div class="row card text-center border-0 p-5" style="background-color: #DEE2EB">

        <div class="card text-center col-md-12">
            <div class="card-header">
                <h3 style="color:#ff0000">Honours Admission is now closed for the moment. Please contact again when release slip start...</h3>
            </div>
        </div>
    </div>
</div>*@


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#msgId').fadeOut(10000);
            $('#notifyId').fadeOut(10000);

            $('#paymentId').click(function () {
                let isHidden = $('#bankingId').is(':hidden');
                if (isHidden == true) {
                    $('#bankingId').show();
                }
                else {
                    $('#bankingId').hide();
                }
            });

            $('#duePayment').click(function () {
                let isHidden = $('#duePaymentId').is(':hidden');
                if (isHidden == true) {
                    $('#duePaymentId').show();
                }
                else {
                    $('#duePaymentId').hide();
                }
            });
        });
    </script>
}
