@model OnlineAdmission.APP.ViewModels.Student.StudentDynamicInfoVM

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    if (signInManager.IsSignedIn(User))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    }
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card">
            @if (Model.PaymentTypeId == 1)
            {
                <div class="card-header">
                    <span class="text-info font-weight-bold h5">@ViewBag.FormTitle </span>
                    @if (Model.MeritType.MeritTypeName != null)
                    {
                        <br />
                        <span class="text-warning font-weight-bold">(@Model.MeritType.MeritTypeName)</span>
                    }
                </div>
            }
            else
            {
                <div class="card-header">
                    <span class="text-info font-weight-bold h5">@ViewBag.FormTitle </span>
                    @if (Model.MeritType.MeritTypeName != null)
                    {
                        <br />
                        <span class="text-warning font-weight-bold">(@Model.MeritType.MeritTypeName)</span>
                    }
                </div>
            }

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form asp-action="Search" asp-controller="Students" method="post">
                            <div class="form-group row">
                                <input asp-for="CategoryId" type="hidden" />
                                <input asp-for="PaymentTypeId" type="hidden" />
                                <input asp-for="SessionId" type="hidden" />
                                <input asp-for="MeritType.Id" type="hidden" />
                                <input asp-for="MeritTypeId" type="hidden" />
                                <input asp-for="PaymentTypeShortCode" type="hidden" />
                                <input asp-for="CategoryShortCode" type="hidden" />
                                <input asp-for="StudentPaymentTypeId" type="hidden" />
                                <input asp-for="@Model.MeritType.MeritTypeName" type="hidden" />
                                @*<input asp-for="@Model.Remarks" type="hidden" />*@
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="NuRoll">NU Roll</span>
                                    </div>
                                    <input asp-for="NuRoll" class="form-control" placeholder="NU Admission Roll" required>
                                    <input type="submit" class="btn btn-info" value="Search" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (ViewBag.invalidRoll != null)
            {
                <div class="card-footer">
                    <div class="col-md-6 offset-3">
                        <span class="alert text-danger font-weight-bold">@ViewBag.invalidRoll</span>
                    </div>
                </div>
            }
            @if (ViewBag.isApplicationPaid != null)
            {
                if (ViewBag.isApplicationPaid == true)
                {
                    <span>Your payment is already completed.</span>
                }
                else
                {
                    @if (ViewBag.provideAppliedInformation != null)
                    {
                        <div class="card-footer">
                            <div class="col-md-6 offset-3">
                                <span class="alert">@ViewBag.provideAppliedInformation</span>
                                <form asp-action="create" asp-controller="AppliedStudents" method="get">
                                    <input type="hidden" asp-for="NuRoll" />
                                    <input type="hidden" asp-for="CategoryId" />
                                    <input type="hidden" asp-for="SessionId" />
                                    <input type="hidden" asp-for="MeritTypeId" />
                                    <input class="btn btn-outline-info" type="submit" value="Give Information" />
                                </form>
                            </div>
                        </div>
                        <div class="note bg-danger mt-1 mb-1 p-1">
                            <span class="text-justify text-light">
                                @ViewBag.Remarks

                            </span>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-10 offset-1 text-center">
                            <span class="alert font-weight-bold text-info">@ViewBag.FormTitle</span><hr />
                        </div>
                    </div>

                    @if (ViewBag.paymentNotCompleted != null)
                    {
                        <div class="card-footer">

                            <div class="col-md-6 offset-3">
                                <table class="table table-bordered">
                                    <thead class="thead-light bg-primary text-white">
                                        <tr>
                                            <td>NU Roll</td>
                                            <td>Name</td>
                                            <td>Mobile No.</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.NuRoll</td>
                                            <td>@Model.AppliedStudent.ApplicantName</td>
                                            <td>@Model.AppliedStudent.MobileNo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 offset-3">
                                
                                <span class="alert text-warning font-weight-bold">@ViewBag.paymentNotCompleted</span>
                                @*<button class="btn btn-info" id="makePaymentBtn">Make Payment</button>*@

                                @*<form asp-action="NagadPayment" asp-controller="Students" method="get">*@
                               @* <form asp-controller="Students" method="get" style="display:none" id="paymentGatewaysForm">
                                    <input type="hidden" asp-for="NuRoll" />
                                    <input type="hidden" asp-for="CategoryId" />
                                    <input type="hidden" asp-for="SessionId" />
                                    <input type="hidden" asp-for="MeritTypeId" />
                                    <input type="hidden" asp-for="CategoryShortCode" />
                                    <input type="hidden" asp-for="PaymentTypeShortCode" />
                                    <input type="hidden" asp-for="PaymentTypeId" />
                                    <input type="hidden" asp-for="StudentPaymentTypeId" />

                                    <div class="col-md-10 offset-md-1 text-md-center" id="logoArea">
                                        @*<input class="btn btn-dark-info" type="submit" value="BKash" formaction="/PaymentGateways/BkashPayment" />*@
                                   @*     <input class="btn btn-dark-primary" type="submit" value="Nagad" formaction="/Students/NagadPayment" />
                                        <input class="btn btn-dark-success" type="submit" value="Rocket" formaction="/Students/RocketPayment" />
                                    </div>

                                    @*<input class="btn btn-info" type="submit" value="Make Payment" />
                                </form>*@
                            </div>
                            <div class="note bg-danger mt-1 mb-1 p-1">
                                <span class="text-justify text-light">
                                    @ViewBag.Remarks
                                    [শিক্ষার্থীকে জাতীয় বিশ্ববিদ্যালয়ের ভর্তি বিষয়ক ওয়েবসাইটের (www.nu.ac.bd/admissions) Applicant Login অপশনে Honours Login লিংকে গিয়ে সঠিক রোল নম্বর ও পিন এন্ট্রি দিয়ে 21-12-2021 তারিখের মধ্যে চূড়ান্ত ভর্তি ফরম পূরণ করতে হবে।
                                    <span style="color:#9dfb14">(সর্তকতাঃ জাঃ বিঃ-র ওয়েবসাইট থেকে চূড়ান্ত ভর্তি ফরম পূরণ করে প্রিন্ট কপি সংগ্রহ না করলে ভর্তি নিশ্চিত হবে না। )]</span>
                                </span>
                            </div>
                        </div>
                    }

                }
            }
            else
            {
                @if (ViewBag.provideAppliedInformation != null)
                {
                    <div class="card-footer">
                        <div class="col-md-6 offset-3">
                            <span class="alert">@ViewBag.provideAppliedInformation</span>
                            <form asp-action="create" asp-controller="AppliedStudents" method="get">
                                <input type="hidden" asp-for="NuRoll" />
                                <input type="hidden" asp-for="CategoryId" />
                                <input type="hidden" asp-for="SessionId" />
                                <input type="hidden" asp-for="MeritTypeId" />
                                <input class="btn btn-outline-info" type="submit" value="Give Information" />
                            </form>
                        </div>
                    </div>
                    if (ViewBag.Remarks != null)
                    {
                        <div class="col-md-10 offset-md-1">
                            <div class="note bg-danger mt-1 mb-1 p-1">
                                <span class="text-justify text-light">
                                    @ViewBag.Remarks <b><u>This is text</u></b>
                                </span>
                            </div>
                        </div>
                    }
                }
                @if (ViewBag.alreadyAdmittedStudent != null)
                {
                    <div class="card-footer">
                        <table class="text-left table table-hover border-0 table-responsive-sm">
                            <tr>
                                <td class="" style="width:200px">Applicant Name</td>
                                <td>:</td>
                                <td class="">@ViewBag.alreadyAdmittedStudent.Name</td>
                            </tr>
                            <tr>
                                <td class="" style="width:200px">Academic Session</td>
                                <td>:</td>
                                <td class="">@ViewBag.alreadyAdmittedStudent.AcademicSession.SessionName</td>
                            </tr>
                            <tr>
                                <td class="" style="width:200px">Department</td>
                                <td>:</td>
                                <td class="">@ViewBag.alreadyAdmittedStudent.Subject.SubjectName</td>
                            </tr>
                            <tr>
                                <td class="" style="width:200px">Class Roll</td>
                                <td>:</td>
                                <td class="">@ViewBag.alreadyAdmittedStudent.CollegeRoll</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-6 offset-3">
                            <a asp-action="Details" asp-controller="Students" asp-route-id="@ViewBag.alreadyAdmittedStudent.Id" class="btn btn-info">View admission form</a>
                        </div>
                    </div>
                }
                @if (ViewBag.paidNotAdmitted != null)
                {
                    <div class="card-footer">
                        <div class="col-md-6 offset-3">
                            <br />
                            <span class="alert alert-success">@ViewBag.paidNotAdmitted</span>
                            <br /><br />
                            <form asp-action="create" asp-controller="Students" method="get">
                                <input type="hidden" asp-for="NuRoll" />
                                <input type="hidden" asp-for="CategoryId" />
                                <input type="hidden" asp-for="SessionId" />
                                <input type="hidden" asp-for="MeritTypeId" />
                                <input class="btn btn-info" type="submit" value="Form Fill Up" />
                            </form>
                        </div>
                    </div>
                }
                @if (ViewBag.NotSelected != null)
                {
                    <div class="card-footer">
                        <div class="col-md-9 offset-md-2">
                            <span class="alert text-danger font-weight-bold">@ViewBag.NotSelected 
                                <span class="alert alert-success">@ViewBag.NotSelectedCategory</span>
                            </span>
                        </div>
                    </div>
                }
                @if (ViewBag.paymentNotCompleted != null)
                {
                    <div class="card-footer">

                        <div class="col-md-6 offset-3">
                            <table class="table table-bordered">
                                <thead class="thead-light bg-primary text-white">
                                    <tr>
                                        <td>NU Roll</td>
                                        <td>Name</td>
                                        <td>Subject</td>
                                        <td>Merit List</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.NuRoll</td>
                                        <td>@Model.AppliedStudent.ApplicantName</td>
                                        <td>@Model.Subject.SubjectName</td>
                                        <td>@Model.MeritType.MeritTypeName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 offset-3">
                            <span class="alert text-warning font-weight-bold">@ViewBag.paymentNotCompleted</span>
                            <button class="btn btn-info" id="makePaymentBtn">Make Payment</button>
                            <br />
                            <form asp-controller="Students" method="get" style="display:none" id="paymentGatewaysForm">
                                <input type="hidden" asp-for="NuRoll" />
                                <input type="hidden" asp-for="CategoryId" />
                                <input type="hidden" asp-for="SessionId" />
                                <input type="hidden" asp-for="MeritTypeId" />
                                <input type="hidden" asp-for="CategoryShortCode" />
                                <input type="hidden" asp-for="PaymentTypeShortCode" />
                                <input type="hidden" asp-for="PaymentTypeId" />
                                <input type="hidden" asp-for="StudentPaymentTypeId" />

                                <div class="col-md-10 offset-md-1 text-md-center" id="logoArea">
                                    @*<input class="btn btn-dark-info" type="submit" value="BKash" formaction="/PaymentGateways/BkashPayment" />*@
                                    <input class="btn btn-primary" type="submit" value="Nagad" formaction="/Students/NagadPayment" />
                                    <input class="btn btn-success" type="button" value="DBBL" id="dbblButtonId" />
                                    @*<input name="CardType" value="6" id="rocket" />
                                    <input class="btn btn-primary" type="submit" value="Rocket" formaction="/Students/RocketPayment" />*@
                                </div>
                                @*<input class="btn btn-info" type="submit" value="Make Payment" />*@
                            </form>
                        

                    




                        </div>
                        <div class="note bg-danger mt-1 mb-1 p-1">
                            <span class="text-justify text-light">
                                @ViewBag.Remarks
                                @*[শিক্ষার্থীকে জাতীয় বিশ্ববিদ্যালয়ের ভর্তি বিষয়ক ওয়েবসাইটের (www.nu.ac.bd/admissions) Applicant Login অপশনে Honours Login লিংকে গিয়ে সঠিক রোল নম্বর ও পিন এন্ট্রি দিয়ে 21-12-2021 তারিখের মধ্যে চূড়ান্ত ভর্তি ফরম পূরণ করতে হবে।
                                <span style="color:#9dfb14">(সর্তকতাঃ জাঃ বিঃ-র ওয়েবসাইট থেকে চূড়ান্ত ভর্তি ফরম পূরণ করে প্রিন্ট কপি সংগ্রহ না করলে ভর্তি নিশ্চিত হবে না। )]</span>*@
                            </span>
                        </div>
                    </div>
                    <div class="row" id="dbblPortion" style="display:none">
                    <form asp-action="RocketPayment" asp-controller="Students" method="get">
                        @*<input type="hidden" name="Amount" value="1500000" />
                        <input type="hidden" name="Txnrefnum" value="HSC_Adm_1_@ViewBag.sscRoll" />*@

                        <input type="hidden" asp-for="NuRoll" />
                        <input type="hidden" asp-for="CategoryId" />
                        <input type="hidden" asp-for="SessionId" />
                        <input type="hidden" asp-for="MeritTypeId" />
                        <input type="hidden" asp-for="CategoryShortCode" />
                        <input type="hidden" asp-for="PaymentTypeShortCode" />
                        <input type="hidden" asp-for="PaymentTypeId" />
                        <input type="hidden" asp-for="StudentPaymentTypeId" />

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-7 col-lg-6 ">
                                <div class="shadow m-2 p-2">
                                    Pay With: <span id="payWithName"></span> <hr />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input id="nexus" type="radio" name="CardType" value="1" class="" />
                                                        <label for="nexus" class="col-form-label">
                                                            <img src="~/images/dbbl_img/dbbl-nexus.png" alt="cards" class="h-100"> Nexus Debit
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><br />

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input id="dbbl_master" type="radio" name="CardType" value="2" />
                                                        <label for="dbbl_master" class="col-form-label">
                                                            <img src="~/images/dbbl_img/dbbl-master.png" alt="cards" class="h-100">DBBL Master Debit
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input id="dbbl_visa" type="radio" name="CardType" value="3" />
                                                        <label for="dbbl_visa" class="col-form-label">
                                                            <img src="~/images/dbbl_img/dbbl-visa.png" alt="cards" class="h-100">DBBL VISA Debit
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input id="visa" type="radio" name="CardType" value="4" />
                                                        <label for="visa" class="col-form-label">
                                                            <img src="~/images/dbbl_img/visa.png" alt="cards" class="h-100"> VISA
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input id="dbbl_master" type="radio" name="CardType" value="5" />
                                                        <label for="dbbl_master" class="col-form-label">
                                                            <img src="~/images/dbbl_img/master.png" alt="cards" class="h-100">Master
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <br />
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input type="radio" name="CardType" value="6" id="rocket" />
                                                        <label for="rocket" class="col-form-label">
                                                            <img src="~/images/dbbl_img/dbbl-mb.png" alt="cards" class="h-100"> Rocket
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="form-check-inline">
                                                        <input id="NexusPay" type="radio" name="CardType" value="7" />
                                                        <label for="NexusPay" class="col-form-label">
                                                            <img src="~/images/dbbl_img/nexuspay.png" alt="cards" class="h-100"> Nexus Pay
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-5 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-form-label text-md-right col-md-6"></label>
                                    <div class="col-md-6">
                                        @*<input type="hidden" readonly name="Amount" value="1500000" />*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3 text-center">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>


                }
            }

        </div>
    </div>
</div>

<div class="alert">
    <div class="">
        <div class="col-md-8 offset-md-2">
            
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#makePaymentBtn').click(function () {
                $('#paymentGatewaysForm').css('display', 'block');
            });
            $('#dbblButtonId').click(function () {
                $('#dbblPortion').css('display', 'block');
            });

        });
    </script>
}