@model OnlineAdmission.APP.ViewModels.Student.StudentDynamicInfoVM

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    if (signInManager.IsSignedIn(User))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    }
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-header">
                <span class="text-info font-weight-bold h5">@ViewBag.FormTitle</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form asp-action="Search" asp-controller="Students" method="post">
                            <div class="form-group row">
                                <input asp-for="CategoryId" type="hidden" />
                                <input asp-for="PaymentTypeId" type="hidden" />
                                <input asp-for="SessionId" type="hidden" />
                                <input asp-for="MeritType.Id" type="hidden" />
                                <input asp-for="MeritTypeId" type="hidden" />
                                <input asp-for="PaymentTypeShortCode" type="hidden" />
                                <input asp-for="CategoryShortCode" type="hidden" />
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="NuRoll">NU Roll</span>
                                    </div>
                                    <input asp-for="NuRoll" class="form-control" placeholder="NU Admission Roll" required>
                                    <input type="submit" class="btn btn-info" value="Search" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @if (ViewBag.invalidRoll != null)
            {
                <div class="card-footer">
                    <div class="col-md-6 offset-3">
                        <span class="alert alertify-notifier text-danger font-weight-bold">@ViewBag.invalidRoll</span>
                    </div>
                </div>
            }
            @if (ViewBag.provideAppliedInformation != null)
            {
                <div class="card-footer">
                    <div class="col-md-6 offset-3">                        
                        <span class="alert alertify-notifier">@ViewBag.provideAppliedInformation</span>
                        <form asp-action="create" asp-controller="AppliedStudents" method="get">
                            <input type="hidden" asp-for="NuRoll" />
                            <input type="hidden" asp-for="CategoryId" />
                            <input type="hidden" asp-for="SessionId" />
                            <input type="hidden" asp-for="MeritTypeId" />
                            <input class="btn btn-outline-info" type="submit" value="Give Information" />
                        </form>
                    </div>
                </div>
            }
            @if (ViewBag.alreadyAdmittedStudent != null)
            {
                <div class="card-footer">
                    <table class="text-left table table-hover border-0 table-responsive-sm">
                        <tr>
                            <td class="" style="width:200px">Applicant Name</td>
                            <td>:</td>
                            <td class="">@ViewBag.alreadyAdmittedStudent.Name</td>
                        </tr>
                        <tr>
                            <td class="" style="width:200px">Academic Session</td>
                            <td>:</td>
                            <td class="">@Model.SessionId</td>
                        </tr>
                        <tr>
                            <td class="" style="width:200px">Department</td>
                            <td>:</td>
                            <td class="">@ViewBag.alreadyAdmittedStudent.SubjectId</td>
                        </tr>
                        <tr>
                            <td class="" style="width:200px">Class Roll</td>
                            <td>:</td>
                            <td class="">@ViewBag.alreadyAdmittedStudent.CollegeRoll</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="col-md-6 offset-3">
                        <a asp-action="Details" asp-controller="Students" asp-route-id="@ViewBag.alreadyAdmittedStudent.Id" class="btn btn-info">View admission form</a>
                    </div>
                </div>
            }
            @if (ViewBag.paidNotAdmitted != null)
            {
                <div class="card-footer">
                    <div class="col-md-6 offset-3">
                        <span class="alert alertify-notifier">@ViewBag.paidNotAdmitted</span>
                        <form asp-action="create" asp-controller="Students" method="get">
                            <input type="hidden" asp-for="NuRoll" />
                            <input type="hidden" asp-for="CategoryId" />
                            <input type="hidden" asp-for="SessionId" />
                            <input type="hidden" asp-for="MeritTypeId" />
                            <input class="btn btn-info" type="submit" value="Form Fillup" />
                        </form>
                    </div>
                </div>
            }
            @if (ViewBag.NotSelected != null)
            {
                <div class="card-footer">
                    <div class="col-md-6 offset-3">
                        <span class="alert alertify-notifier text-danger font-weight-bold">@ViewBag.NotSelected</span>
                    </div>
                </div>
            }
            @if (ViewBag.paymentNotCompleted != null)
            {
                <div class="card-footer">
                    <div class="col-md-6 offset-3">
                        <span class="alert alertify-notifier text-warning font-weight-bold">@ViewBag.paymentNotCompleted</span>
                        <form asp-action="NagadPayment" asp-controller="Students" method="get">
                            <input type="hidden" asp-for="NuRoll" />
                            <input type="hidden" asp-for="CategoryId" />
                            <input type="hidden" asp-for="SessionId" />
                            <input type="hidden" asp-for="MeritTypeId" />
                            <input type="hidden" asp-for="CategoryShortCode" />
                            <input type="hidden" asp-for="PaymentTypeShortCode" />
                            <input class="btn btn-info" type="submit" value="Make Payment" />
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="alert">
    <div class="">
        <div class="col-md-8 offset-md-2">
            
        </div>
    </div>
</div>