@model OnlineAdmission.APP.ViewModels.PaymentReceiptVM

@{
    ViewData["Title"] = "Details";
    string[] copy = { "College Copy","Ledger Copy", "Student Copy" };
}
@section Styles{

    <style media="print" type="text/css">

        @@page {
            size: A4 landscape;
        }
        html, body {
            height: 99%;
        }
        @@media print {
          body * {
            visibility: hidden;
          }
          #section-to-print, #section-to-print * {
            visibility: visible;
            color:black;
          }
          #section-to-print {
            position: absolute;
            left: 0;
            top: 20px;
          }
        }
    </style>
}

<div class="row" id="section-to-print">
        @foreach (var item in copy)
        {
            <div class="col-md-4 ">
                <div class="card text-center border border-dark">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/Images/Collge/logo.png" alt="Alternate Text" style="width:100px;" />
                            </div>
                            <div class="col-md-8 text-md-left">
                                <p>
                                    <span class="h5 font-weight-bold">Tejgaon College</span><br />
                                    <span class="h6"> 16 Indira Rd, Dhaka 1215</span>
                                </p>
                            </div>
                        </div>
                        <hr /><span class="font-weight-bold text-dark">Payment Receipt</span><hr />
                        <div class="row">
                            <div class="col-md-6 text-md-left">
                                <span class="">Session : 2020-2021</span>
                            </div>
                            <div class="col-md-6 text-md-right text-muted">
                                <span class="font-italic">(@item)</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-body text-md-left">
                        <dl class="row">
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.AppliedStudent.ApplicantName)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.AppliedStudent.ApplicantName)
                            </dd>
                            @if (Model.Student != null)
                            {
                                <dt class="col-md-4">
                                    @Html.DisplayNameFor(model => model.Student.CollegeRoll)
                                </dt>
                                <dd class="col-md-8">
                                    @Html.DisplayFor(model => model.Student.CollegeRoll)
                                </dd>
                            }
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.AppliedStudent.NUAdmissionRoll)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.AppliedStudent.NUAdmissionRoll)
                            </dd>
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.Subject)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.Subject.SubjectName)
                            </dd>
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.AppliedStudent.MobileNo)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.AppliedStudent.MobileNo)
                            </dd>
                        </dl>
                        <hr />
                        <dl class="row">
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.PaymentTransaction.Description)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.PaymentTransaction.Description)
                            </dd>
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.PaymentTransaction.AdmissionFee)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.PaymentTransaction.AdmissionFee)TK
                            </dd>
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.PaymentTransaction.TransactionDate)
                            </dt>
                            <dd class="col-md-8">
                                @Model.PaymentTransaction.TransactionDate.ToString("dd/MM/yyyy")
                            </dd>
                            <dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.PaymentTransaction.AccountNo)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.PaymentTransaction.AccountNo)
                            </dd>
                            <dt class="col-md-4">
                                Tr. Id
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.PaymentTransaction.TransactionId)
                            </dd>
                            @*<dt class="col-md-4">
                                @Html.DisplayNameFor(model => model.PaymentTransaction.AdmissionFee)
                            </dt>
                            <dd class="col-md-8">
                                @Html.DisplayFor(model => model.PaymentTransaction.AdmissionFee)
                            </dd>*@
                        </dl>
                    </div>
                    <div class="card-footer text-muted text-md-right">
                        <span>
                            <br /><br />
                            Signature
                        </span>
                    </div>
                </div>

            </div>
        }
</div>
<div class="row noPrint">
    <div class="col-md-12 text-md-right">
        @*<button class="btn btn-success" onclick="printContent('PrintArea')"><i class="fa fa-print"></i> Print</button>*@
        <button onclick="window.print()" class="btn btn-success"><i class="fa fa-print"></i> Print</button>
        <a asp-controller="Payments" asp-action="Index" class="btn btn-info">Back To List</a>
    </div>
</div>

@section Scripts{
    <script>
        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }
    </script>
}