
@model OnlineAdmission.APP.ViewModels.PaymentReceiptVM

    @{
        ViewData["Title"] = "Details";
    }

    @*<h1>Details</h1>

    <div>
        <h4>PaymentTransaction</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TransactionDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TransactionDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Balance)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Balance)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AccountNo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AccountNo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TransactionId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TransactionId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ReferenceNo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ReferenceNo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AdmissionFee)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AdmissionFee)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ServiceCharge)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ServiceCharge)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card text-center" id="DivIdToPrint">
                <div class="card-header">
                    <img src="~/Images/Collge/logo.png" alt="Alternate Text" style="width:100px;" /> <span class="h5">Tejgaon College</span>
                </div>
                <div class="card-body text-md-left">
                    <dl class="row">
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Student.Name)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.Student.Name)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Student.CollegeRoll)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.Student.CollegeRoll)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.Amount)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.Amount)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.TransactionDate)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.TransactionDate)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.Balance)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.Balance)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.AccountNo)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.AccountNo)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.TransactionId)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.TransactionId)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.ReferenceNo)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.ReferenceNo)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.AdmissionFee)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.AdmissionFee)
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.PaymentTransaction.ServiceCharge)
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.PaymentTransaction.ServiceCharge)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-muted">
                   <span>
                       <br /><br />
                       Signature
                   </span>
                </div>
            </div>
            <div class="row">
                <div class="text-md-right">
                    <input type='button' id='btn' value='Print' onclick='printDiv();'>
                </div>
            </div>
        </div>
    </div>


@section Scripts{ 

<script>
    function printDiv() {

        var divToPrint = document.getElementById('DivIdToPrint');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);

    }
</script>
}