@model PaginatedList<OnlineAdmission.Entity.PaymentTransaction>

@{
    ViewData["Title"] = "Index";
    int sl = 0;
    int i = (Model.PageIndex - 1) * Model.PageSize + 1;
    ViewBag.pagesize = Model.PageSize;

    ViewBag.controller = "Payments";
    ViewBag.action = "index";
    ViewBag.search = ViewBag.data;
}

<h4>Student's Payment</h4>

<partial name="~/Views/PartialViews/_SearchCreateBtn.cshtml">
    @if (ViewBag.count != null)
    {
        <span>Total found @ViewBag.count</span>
    }
    @*@if (ViewBag.msg!=null)
    {
        <br />
        <span id="notFoundMSG" class="text-danger h4">@ViewBag.msg</span>
    }*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Name
                </th>
                <th>
                    NU Roll
                </th>
                <th>
                    Session
                </th>
                <th>
                    Mobile
                </th>

                <th>
                    Transaction Id
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Payment Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @(++sl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ReferenceNo)*@
                    2021-2022
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectId)
                </td>
                <td>
                    @item.TransactionDate.ToString("dd MMM yyyy")
                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <partial name="~/Views/PartialViews/_paging.cshtml" model="@Model" />


    @section Scripts{ 
        <script>
            $(document).ready(function () {
                //$("#msgId").fadeOut(6000);
                $("#notFoundMSG").fadeOut("slow");
            });
        </script>
    }
