@*@model PaginatedList<OnlineAdmission.Entity.PaymentTransaction>*@
@model PaginatedList<OnlineAdmission.APP.ViewModels.PaymentReceiptVM>
@{
    ViewData["Title"] = "Index";
    int sl = 0;
    int i = (Model.PageIndex - 1) * Model.PageSize + 1;
    ViewBag.pagesize = Model.PageSize;

    ViewBag.controller = "Payments";
    ViewBag.action = "index";
    ViewBag.search = ViewBag.data;
}

<h4>Student's Payment</h4>

<partial name="~/Views/PartialViews/_SearchCreateBtn.cshtml">
    @if (ViewBag.count != null)
    {
        <span>Total found @ViewBag.count</span>
    }
    @*@if (ViewBag.msg!=null)
        {
            <br />
            <span id="notFoundMSG" class="text-danger h4">@ViewBag.msg</span>
        }*@
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Tr.Amount
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Session
                    </th>
                    <th>
                        Account No
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Transaction Id
                    </th>

                    <th>
                        Roll No
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Payment Date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(i).
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentTransaction.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppliedStudent.ApplicantName)
                        </td>
                        <td>
                            2021-2022
                        </td>
                        <td>
                            @item.PaymentTransaction.AccountNo
                        </td>
                        <td>
                            @(item.AppliedStudent.MobileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentTransaction.TransactionId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppliedStudent.NUAdmissionRoll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td>
                            @item.PaymentTransaction.TransactionDate.ToString("yyyy/MM/dd")
                        </td>

                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                            <a asp-action="Details" asp-route-id="@item.PaymentTransaction.Id">Details</a>
                            @*<a asp-action="Delete" asp-route-id="@item.PaymentTransaction.Id">Delete</a>*@
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>

        <partial name="~/Views/PartialViews/_paging.cshtml" model="@Model" />

    }
    else
    {
        <hr />
        <span class="alert text-danger">
            Your search - @ViewBag.data - did not match any documents.
        </span>



    }




    @section Scripts{
        <script>
            $(document).ready(function () {
                //$("#msgId").fadeOut(6000);
                $("#notFoundMSG").fadeOut("slow");
            });
        </script>
    }
