@model List<OnlineAdmission.Entity.PaymentTransaction>


@{
    ViewBag.Title = "Payment Received Summery";
    int applicaitonSl = 0;
    int admissionSl = 0;
}


@if (ViewBag.applicationPaymentCount != null)
{
    <span>Application Payments = @ViewBag.applicationPaymentCount</span>
}
@if (ViewBag.admissionPaymentCount != null)
{
    <span>Admission Payments = @ViewBag.admissionPaymentCount</span>
}

            @*ViewBag.honorsApplicationPaymentCount = payments.Where(p => p.StudentCategory == 1 && p.PaymentType == 1).Count();
            ViewBag.honorsProApplicationPaymentCount = payments.Where(p => p.StudentCategory == 2 && p.PaymentType == 1).Count();
            ViewBag.mastersApplicationPaymentCount = payments.Where(p => p.StudentCategory == 4 && p.PaymentType == 1).Count();
            ViewBag.mastersProApplicationPaymentCount = payments.Where(p => p.StudentCategory == 3 && p.PaymentType == 1).Count();
            ViewBag.degreeApplicationPaymentCount = payments.Where(p => p.StudentCategory == 5 && p.PaymentType == 1).Count();*@


<div class="col-md-10 offset-md-1">
    <table class="table table-info">
        <thead>
            <tr class="bg-info">
                <td colspan="4" class="text-center">Application Payment Summary</td>
            </tr>
            <tr>
                <td>#</td>
                <td>Applicaiton Payment for</td>
                <td>Students</td>
                <td class="text-right">Amount</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.honorsApplicationPaymentCount > 0)
            {
                <tr>
                    <td>@(++applicaitonSl)</td>
                    <td>Honors (General) Student</td>
                    <td>@ViewBag.honorsApplicationPaymentCount</td>
                    <td class="text-right">@ViewBag.honorsApplicationPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.honorsProApplicationPaymentCount > 0)
            {
                <tr>
                    <td>@(++applicaitonSl)</td>
                    <td>Honors (General) Student</td>
                    <td>@ViewBag.honorsProApplicationPaymentCount</td>
                    <td class="text-right">@ViewBag.honorsProApplicationPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.mastersApplicationPaymentCount > 0)
            {
                <tr>
                    <td>@(++applicaitonSl)</td>
                    <td>Honors (Professional) Student</td>
                    <td>@ViewBag.mastersApplicationPaymentCount</td>
                    <td class="text-right">@ViewBag.mastersApplicationPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.mastersProApplicationPaymentCount > 0)
            {
                <tr>
                    <td>@(++applicaitonSl)</td>
                    <td>Masters (Professional) Student</td>
                    <td>@ViewBag.mastersProApplicationPaymentCount</td>
                    <td class="text-right">@ViewBag.mastersProApplicationPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.degreeApplicationPaymentCount > 0)
            {
                <tr>
                    <td>@(++applicaitonSl)</td>
                    <td>Degree (Pass Course) Student</td>
                    <td>@ViewBag.degreeApplicationPaymentCount</td>
                    <td class="text-right">@ViewBag.degreeApplicationPaymentSum.ToString("N2")</td>
                </tr>
            }
            <tr>
                <td colspan="2" class="text-md-right">Total</td>
                <td>@ViewBag.applicationPaymentCount</td>
                <td class="text-right">@Convert.ToDouble(ViewBag.totalApplicationPayment).ToString("N2")</td>
            </tr>
        </tbody>
    </table>

</div>
<hr />
<div class="col-md-10 offset-md-1">
    <table class="table table-success">
        <thead>
            <tr class="bg-info">
                <td colspan="4" class="text-center">Admission Payment Summary</td>
            </tr>
            <tr>
                <td>#</td>
                <td>Admission Payment for</td>
                <td>Students</td>
                <td class="text-right">Amount</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.honorsApplicationPaymentCount > 0)
            {
                <tr>
                    <td>@(++admissionSl)</td>
                    <td>Honors (General) Student</td>
                    <td>@ViewBag.honorsAdmissionPaymentCount</td>
                    <td class="text-right">@ViewBag.honorsAdmissionPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.honorsProAdmissionPaymentCount > 0)
            {
                <tr>
                    <td>@(++admissionSl)</td>
                    <td>Honors (General) Student</td>
                    <td>@ViewBag.honorsProAdmissionPaymentCount</td>
                    <td class="text-right">@ViewBag.honorsProAdmissionPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.mastersAdmissionPaymentCount > 0)
            {
                <tr>
                    <td>@(++admissionSl)</td>
                    <td>Honors (Professional) Student</td>
                    <td>@ViewBag.mastersAdmissionPaymentCount</td>
                    <td class="text-right">@ViewBag.mastersAdmissionPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.mastersProAdmissionPaymentCount > 0)
            {
                <tr>
                    <td>@(++admissionSl)</td>
                    <td>Masters (Professional) Student</td>
                    <td>@ViewBag.mastersProAdmissionPaymentCount</td>
                    <td class="text-right">@ViewBag.mastersProAdmissionPaymentSum.ToString("N2")</td>
                </tr>
            }
            @if (ViewBag.degreeAdmissionPaymentCount > 0)
            {
                <tr>
                    <td>@(++admissionSl)</td>
                    <td>Degree (Pass Course) Student</td>
                    <td>@ViewBag.degreeAdmissionPaymentCount</td>
                    <td class="text-right">@ViewBag.degreeApplicationPaymentSum.ToString("N2")</td>
                </tr>
            }
            <tr>
                <td colspan="2" class="text-md-right">Total</td>
                <td>@ViewBag.AdmissionPaymentCount</td>
                <td class="text-right">@ViewBag.totalAdmissionPayment.ToString("N2")</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-10 offset-md-1">
    <table class="table">
        <tr class="font-weight-bold">
            <td colspan="3" class="text-md-right">Total</td>
            <td class="text-right">@ViewBag.totalPayment.ToString("N2")</td>
        </tr>
    </table>
</div>