@model OnlineAdmission.Entity.MeritStudent

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Merit Student Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NUAdmissionRoll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NUAdmissionRoll)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSCRoll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSCRoll)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeritPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeritPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductedAmaount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductedAmaount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentTransaction.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
