
@model PaginatedList<OnlineAdmission.Entity.AppliedStudent>
@{
    ViewData["Title"] = "Index";
    int sl = 0;
    int i = (Model.PageIndex - 1) * Model.PageSize + 1;
    ViewBag.pagesize = Model.PageSize;

    ViewBag.controller = "AppliedStudents";
    ViewBag.action = "index";
    ViewBag.search = ViewBag.data;
}

<h1>Applied Student's List</h1>

<p>
    <a class="btn btn-primary" asp-action="GetAppliedStudentList">Add Applied Student's Excel File</a>
</p>

<partial name="~/Views/PartialViews/_SearchCreateBtn.cshtml">
    @if (ViewBag.count != null)
    {
        <span>Total found @ViewBag.count</span>
    }

    <table class="table" >
        <thead>
            <tr>
                <th>#</th>
                <th>
                    NU Roll
                </th>
                <th>
                    Name
                </th>
                <th>
                    Father
                </th>
                <th>
                    Mother
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Group
                </th>

                <th><a class="btn btn-info" asp-action="Create">Create New</a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i.</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NUAdmissionRoll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicantName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MobileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HSCGroup)
                        </td>

                        <td>
                            <partial name="~/Views/PartialViews/_Edit_Details_Delete.cshtml" model="@item.Id" />
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
    <partial name="~/Views/PartialViews/_paging.cshtml" model="@Model" />

    @section Scripts{

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable({
                    "pageLength": 50
                });
            });
        </script>
    }
